---
import { Image } from 'astro:assets'

import Preview from '@/assets/preview.jpg'
import HeroAnimation from '@/components/animations/HeroAnimation.astro'
import ButtonLink from '@/components/ui/ButtonLink.astro'
import Field from '@/components/ui/Field.astro'
import Section from '@/components/ui/Section.astro'
import MenuIcon from '~icons/ui/menu.svg'
---

<Section>
	<div class="container">
		<h1 class="text-h1">Тестирую <span class="text-h1 text-h1--accent">компоненты</span></h1>
		<Field name="поле" id="12" placeholder="Екатерина" label="Имя" />
		<Field input="radio" name="радио-кнопка" id="123" label="радио кнопка" />
		<Field input="radio" name="радио-кнопка" id="1235" label="радио кнопка 2" />
		<Field input="checkbox-button" name="чекбокс" id="1234" label="чекбокс" />
		<Field input="checkbox-button" name="чекбокс" id="12345" label="чекбокс 2" />
	</div>
</Section>

<style>
	h1 {
		margin-bottom: 64px;
		padding-top: 200px;
	}
</style>
