---
import { Image } from 'astro:assets'

import Preview from '@/assets/preview.jpg'
import HeroAnimation from '@/components/animations/HeroAnimation.astro'
import Section from '@/components/ui/Section.astro'
---

<Section>
	<div class="container">
		<h1>Тестовый текст</h1>
		<Image src={Preview} alt="Обложка" loading="eager" />
		<HeroAnimation />
	</div>
</Section>

<style>
	h1 {
		font-size: 32px;
		color: darkgoldenrod;
	}
</style>
