---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'button'> {
	tier?: 'accent' | 'primary' | 'secondary' | 'tertiary'
	theme?: 'light' | 'dark'
	class?: string | undefined | null
	link?: string
	// modalTrigger?: '' | null
	// modalClose?: boolean | null
}

const { tier, link = false, theme = 'dark', class: className, type = 'button', ...rest } = Astro.props
---

{
	link ? (
		<a href={link} class:list={['link-reset', 'btn', { ['btn--' + tier]: tier }, className]} {...rest}>
			<slot />
		</a>
	) : (
		<button
			class:list={[
				'btn-reset',
				'btn',
				{ ['btn--' + tier]: tier },
				{ ['btn--' + theme]: tier === 'primary' },
				className,
			]}
			{type}
			{...rest}
		>
			<slot />
		</button>
	)
}

<style is:global>
	.link-reset {
		text-decoration: none;
	}

	.btn-reset {
		border: none;
		font-family: var(--font-family);
		background-color: transparent;
		cursor: pointer;
	}

	.btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		font-size: var(--font-sm);
		line-height: var(--lh-sm);
		transition:
			background-color var(--tr-primary) ease,
			transform var(--tr-primary) ease;
	}

	.btn:disabled {
		cursor: not-allowed;
	}

	.btn:disabled > * {
		opacity: 0.4;
	}
</style>
