---
interface Props {
	class?: 'string'
	theme?: 'gray' | 'dark'
}

const { class: className, theme, ...rest } = Astro.props
---

<section class:list={['section', { ['section--' + theme]: theme }, className]} {...rest}>
	<slot />
</section>

<style is:global>
	.section {
		display: flex;

		&.section--gray {
			background-color: var(--clr-bg-secondary-100);
		}

		&.section--dark {
			background-color: var(--clr-bg-primary-300);
		}
	}
</style>
